@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
/* .bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}
 */

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

/*

.roboto-mono-<uniquifier> {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */

@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@100;300;400;900&display=swap');

/* 

.londrina-solid-thin {
    font-family: "Londrina Solid", sans-serif;
    font-weight: 100;
    font-style: normal;
} */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
}

header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 20px 0;
}

header a:hover {
    color: white;
    transform: scale(1.15);
    transition: .2s ease-in;
}

header>nav>a {
    padding: 0 30px;
    margin: 10px 0;
    color: gray;
    text-decoration: none;
    font-size: 24px;
}

header .ctt button {
    padding: 15px 30px;
    background-color: aqua;
    border: 0;
    border-radius: 25px;
    font-size: 18px;
    font-weight: 900;
    font-family: "Londrina Solid", sans-serif;
    cursor: pointer;
}

header .ctt button:hover {
    box-shadow: 0 0 8px aqua;
    transform: scale(1.10);
    transition: .2s;
}

h1 {
    font-size: 3em;
    font-style: italic;
    background: linear-gradient(330deg, #0042ac, #0077F5, #01C5F5, #74DDF7);
    background-size: 400% 100%;
    animation: animado 5s linear infinite alternate;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

@keyframes animado {
    0% {
        background-position-x: 0%;
    }

    100% {
        background-position: 400%;
    }
}

:root {
    --cor-nav: #F7EEDD;
    --font-size-menu: 1em;
    --background-nav: #008DDA;
    --espacamento-nav-a: 12.58em;
    --cor-foot: blue;
    --margin-padrao: 25px;
}

section {
    height: 700px;
    padding: 80px 4%;
    color: white;
}

ul {
    list-style: none;
}

.foot {
    font-size: 40px;
    color: aqua;
    font-family: "Bebas Neue";
    text-decoration: none;
    font-family: "Londrina Solid", sans-serif;
}

a {
    display: inline-block;
}

form {
    margin: 0 auto;
    max-width: 500px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

section h2 {
    margin: 30px;
    text-align: center;
    text-transform: uppercase;
}

h2 span {
    margin: 10px;
    color: aqua;
}

form input {
    width: 100%;
    background-color: #242424;
    border: 0;
    outline: 0;
    padding: 20px 15px;
    color: white;
    border-radius: 18px;
    font-size: 20px;
}

form input::placeholder {
    color: aqua;
    text-transform: uppercase;
}

textarea {
    width: 100%;
    max-height: 200px;
    background-color: #242424;
    border: 0;
    outline: 0;
    margin: 20px 0;
    padding: 20px 15px;
    color: white;
    border-radius: 18px;
    font-size: 20px;
    resize: none;
}

textarea::placeholder {
    color: aqua;
    text-transform: uppercase;
}

form input.enviar[type=submit] {
    display: flex;
    justify-content: center;
    transform: translate(-50%, -50%);
    top: 76%;
    left: 50%;
    position: absolute;
    width: 120px;
    font-weight: bold;
}

form input.enviar:hover {
    box-shadow: 0 0 8px aqua;
    background-color: aqua;
    color: black;
    transition: .2s;
}

ul  {
    display: flex;
    margin: 90px 0;
    padding: 50px 0;
    transform: translate(-50%, -50%);
    top:80%;
    left: 50%;
    position: absolute;
}

ul li {
    padding: 0 40px;
}