@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
/* .bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}
 */

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

/*

.roboto-mono-<uniquifier> {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */

@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@100;300;400;900&display=swap');

/* 

.londrina-solid-thin {
    font-family: "Londrina Solid", sans-serif;
    font-weight: 100;
    font-style: normal;
} */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --cor-nav: #F7EEDD;
    --font-size-menu: 1em;
    --background-nav: #008DDA;
    --espacamento-nav-a: 12.58em;
    --cor-foot: blue;
    --margin-padrao: 25px;
}

body {
    background: black;
}

.assunto {
    width: 14%;
}

header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 20px 0;
}

header a:hover {
    color: white;
    transform: scale(1.15);
    transition: .2s ease-in;
}

header>nav>a {
    padding: 0 30px;
    margin: 10px 0;
    color: gray;
    text-decoration: none;
    font-size: 24px;
}

header .ctt button {
    padding: 15px 30px;
    background-color: aqua;
    border: 0;
    border-radius: 25px;
    font-size: 18px;
    font-weight: 900;
    font-family: "Londrina Solid", sans-serif;
    cursor: pointer;
}

header .ctt button:hover {
    box-shadow: 0 0 8px aqua;
}

h1 {
    font-size: 3em;
    font-style: italic;
    background: linear-gradient(330deg, #0042ac, #0077F5, #01C5F5, #74DDF7);
    background-size: 400% 100%;
    animation: animado 5s linear infinite alternate;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@keyframes animado {
    0%  {
        background-position-x: 0%;
    }
    100% {
        background-position: 400%;
    }
}

div.text-site p {
    padding: 0 50px;
    width: 1400px;
    font-size: 24px;
}

div.flex {
    width: 1600px;
}

div.img {
    filter: drop-shadow(6px 2px 15px aqua);
    width: 250px;
    display: flex;
    justify-content: center;
}

main {
    margin: var(--margin-padrao);
    color: white;
}

section {
    margin: 40px 5%;
}

section.especialidades {
    margin-top: 30px;
    padding: 60px 40px;
}

.especialidades .especialidades-box {
    padding: 20px 50px;
    color: white;
    margin: 30px;
    border-radius: 20px;
    width: 350px;
}

.especialidades .especialidades-box p {
    font-size: 20px;
    font-family: "Roboto Mono", monospace;
}

.especialidades .especialidades-box h3 {
    font-family: "Bebas Neue", sans-serif;
    text-align: center;
    font-size: 40px;
    color: white;
}

.especialidades-box svg {
    width: 70px;
    height: 70px;
    color: aqua;
    padding-top: 20px;
}

.especialidades-box:hover {
    transform: scale(1.10);
    box-shadow: 0 0 20px white;
    transition: 0.2s ease;
}

.especialidades h2  {
    margin-bottom: 30px;
    font-size: 35px;
    font-style: italic;
}

.flex {
    display: flex;
}


div.flex {
    justify-content: space-between;
}

.img {
    padding: 0 20px;
    flex-direction: column-reverse;
}

h2.site {
    text-align: start;
    padding: 15px 50px;
}

h2 {
    color: aqua;
    text-align: center;
}

a {
    display: inline-block;
}

main {
    margin: var(--margin-padrao);
}

input {
    background-color: transparent;
    color: white;
    font-weight: bolder;
    border-radius: 25px;
    border: 2px solid black;
    text-align: center;
    padding: 5px;
}

textarea {
    background-color: transparent;
    color: white;
    font-weight: bolder;
    border-radius: 25px;
    border: 2px solid black;
    text-align: center;
    padding: 5px;
}

li {
    display: inline-block;
    padding: 20px;
}