@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
/* .bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}
 */

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

/*

.roboto-mono-<uniquifier> {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */

.contato {
    display: inline-flex;
}

h1 {
    font-size: 35px;
    margin: -8px;
    text-align: center;
}

nav {
    font-size: 30px;
    margin: -8px;
    text-align: center;
}

footer {
    font-size: 24px;
}

.foot {
    color: blue;
    font-family: "Bebas Neue";
    font-style: italic;
    text-decoration: none;
}

nav a {
    color: blue;
    font-family: "Roboto Mono";
    text-decoration: none;
}

footer ul {
    list-style: none;
}