@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
/* .bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}
 */

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

/*

.roboto-mono-<uniquifier> {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --cor-nav: #F7EEDD;
  --font-size-menu: 1em;
  --background-nav: #008DDA;
  --espacamento-nav-a: 12.58em;
  --cor-foot: blue;
  --margin-padrao: 25px;
}

.gradient {
  width: 100%;
  background: linear-gradient(330deg, #00F5D6, #0077F5, #01C5F5, #74DDF7);
  background-size: 500% 100%;
  animation: animado 5s infinite alternate;
  background-attachment: fixed;
}

h1 {
  font-size: 3em;
  text-align: center;
  font-style: italic;
  background: linear-gradient(45deg, #F50E00, #F56400, #F53B00, #F50062, #F58F00, #F79374);
  background-size: 400% 100%;
  animation: animado 5s linear infinite alternate;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes animado {
  0% {
    background-position-x: 0%;
  }

  100% {
    background-position-x: 100%;
  }
}



p {
  font-family: "Roboto Mono", monospace;
}

main {
  margin: var(--margin-padrao);
}

a {
  display: inline-block;
}



nav {
  background-color: var(--background-nav);
  line-height: 5vh;
  font-size: var(--font-size-menu);
  text-align: center;
}

nav a {
  color: var(--cor-nav);
  font-family: "Roboto Mono";
  text-decoration: none;
  padding-left: var(--espacamento-nav-a);
  padding-right: var(--espacamento-nav-a);
}

nav>a:hover {
  cursor: pointer;
  color: #008DDA;
  background-color: #ACE2E1;
}

main {
  margin: var(--margin-padrao);
}