@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
/* .bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}
 */

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

/*

.roboto-mono-<uniquifier> {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */
*   {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root   {
  --cor-nav: #F7EEDD;
  --background-nav: #008DDA;
  --font-size-menu: 1em;
  --espacamento-nav-a: 12.58em;
  --cor-foot: blue;
  --margin-padrao: 25px;
}
.gradient   {
  width: 100%;
  background: linear-gradient(100deg,#201658,#1D24CA,#98ABEE,#98ABEE);
  background-size: 500% 100%;
  animation: animado 5s infinite alternate;
  background-attachment: fixed;
}
@keyframes animado {
  0%  {
    background-position-x: 0%;
  }
  100%  {
    background-position-x: 100%;
  }
}
main  {
  margin: var(--margin-padrao);
}
a   {
  display: inline-block;
}
h1 {
  font-size: 3em;
  text-align: center;
  color: var(--cor-nav);
  font-style: italic;
}
nav {
  background-color: var(--background-nav);
  line-height: 5vh;
  font-size: var(--font-size-menu);
  text-align: center;
}
nav a {
  color: var(--cor-nav);
  font-family: "Roboto Mono";
  text-decoration: none;
  padding-left: var(--espacamento-nav-a);
  padding-right: var(--espacamento-nav-a);
}
nav > a:hover {
  cursor: pointer;
  color: #008DDA;
  background-color: #ACE2E1;
}
